.statusContainer{
    height: 100px;
    /* border: 5px solid white !important; */
    display: flex;
    width: 70vh !important;
    gap: 25px;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    overflow: hidden !important;
    overflow-x: auto;
}
.statusContainer img {
    border: 5px solid rebeccapurple;
    border-radius: 60px;
}